li{
	//display:inline;
	font-size: 13px;
}
a{
	text-decoration: none;
	color:#222;
}
body{
	font-family: Arial,sans-serif;
}

.nav{
	float:right;
	margin-right: 15px;
	//margin-top:0px;
}
.nav li{
	padding-left: 15px;
	display:inline;
}

.logo{
	padding-top: 100px;
	width:269px;
	margin-left:auto;
	margin-right:auto;
}
.searchbox {
  	margin-top: 15px;
  	margin-left: auto;
  	margin-right: auto;
}

.footer {
	position:absolute;
	bottom: 0px;
	left: 0px;
    right: 0px;
    border-top: 1px solid #E4E4E4;
  	background-color: #F2F2F2;
}
.footer li{
	display:inline;
	padding-left: 27px;
}
.footer-right{
	float:right;
	margin-right: 30px;
}
.footer-left{
	float:left;
}